:root{
  --green: #31AF6E;
  --red: #b82a14;
  --black: #282A28;
  --white: #FBF5EF;
  --purple: #AC9AA8;
}

.App {
  box-sizing: border-box;
}
.visible{
  display:block;
}

.hidden{
  display: none;
}